.panel {
  color: #000000;
  padding: 0;
}

img {
  background-color: black;
  padding-left: 10px;
  padding-right: 10px;
}

/* HEADER */
.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px;
}

.header-left {
  display: flex;
  gap: 12px;
}



.header-text .title {
  font-weight: 600;
  font-size: 15px;
}

.header-text .subtitle {
  font-size: 12px;
  opacity: 0.7;
}

.header-text .updated {
  font-size: 11px;
  opacity: 0.6;
  margin-top: 4px;
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
}

.line-left {
  display: flex;
  gap: 12px;
}

/* LINE BADGE */
.line-badge {
  background: #8F001D;
  color: #fff;
  font-weight: 700;
  width: 44px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LINE INFO */
.line-info {
  display: flex;
  flex-direction: column;
}

.line-name {
  font-size: 14px;
  font-weight: 500;
}

.line-time {
  font-size: 18px;
  font-weight: 600;
  color: #FF6A00;
}

.line-time span {
  font-size: 12px;
  margin-left: 2px;
}

.line-meta {
  font-size: 12px;
  opacity: 0.7;
  display: flex;
  align-items: center;
  gap: 4px;
}
