@let vehicle = selectedVehicle();
@if (vehicle) {
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar><img class="card-header-icon" src="./icons/{{ vehicle.vehicleType }}.svg" alt="Vehicle type"></div>
      <mat-card-title>OPERATORE: {{ vehicle.operator }}</mat-card-title>
      <mat-card-subtitle>ID: {{ vehicle.id }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h4>CARICA: {{ vehicle.percentageCharge }}%</h4>
      <h4>AUTONOMIA: {{ vehicle.estimatedDistance }}km</h4>
    </mat-card-content>
    @if (vehicle.rentalUri) {
      <mat-card-actions align="end">
        <a matButton="outlined" href="{{vehicle.rentalUri}}" target="_blank">SBLOCCA</a>
      </mat-card-actions>
    }
  </mat-card>
}
