<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon
        class="card-header-icon"
        fontIcon="settings">
      </mat-icon>
    </div>
    <mat-card-title>Impostazioni</mat-card-title>
    <mat-card-subtitle>Modifica in base alle tue preferenze</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="settings-content">

    <div class="setting-row">
      <mat-icon class="setting-icon">battery_charging_full</mat-icon>

      <div class="setting-control">
        <label class="setting-label" for="minimum-charge">
          Minimum battery charge (%)
        </label>

        <mat-slider min="0" max="100" step="1">
          <input [value]="minimumCharge()" matSliderThumb (valueChange)="filterMinimumCharge($event)">
        </mat-slider>


        <span class="value-label">
          {{ minimumCharge() }}%
        </span>
      </div>
    </div>

    <!-- Follow GPS Positions Toggle -->
    <div class="setting-row">
      <mat-icon class="setting-icon">gps_fixed</mat-icon>

      <mat-slide-toggle [checked]="followGps()" (change)="toggleFollowGps()">
        Follow GPS positions
      </mat-slide-toggle>
    </div>

  </mat-card-content>
</mat-card>
