<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon
        class="card-header-icon"
        fontIcon="settings">
      </mat-icon>
    </div>
    <mat-card-title>Impostazioni</mat-card-title>
    <mat-card-subtitle>Modifica in base alle tue preferenze</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="settings-content">
    <div>
      <div>
        <mat-icon>battery_charging_full</mat-icon>
        <label for="minimum-charge">
          Minimum battery charge ({{ minimumCharge() }}%)
        </label>
      </div>
      <div class="slider-container">
        <mat-slider min="0" max="100" step="1">
          <input id="minimum-charge" [value]="minimumCharge()" matSliderThumb (valueChange)="filterMinimumCharge($event)">
        </mat-slider>
      </div>
    </div>

    <div>
      <div>
        <mat-icon>gps_fixed</mat-icon>
        <label for="gps-toggle">
          Follow GPS positions
        </label>
      </div>
      <div>
        <mat-slide-toggle id="gps-toggle" [checked]="followGps()" (change)="toggleFollowGps()"></mat-slide-toggle>
      </div>
    </div>

    <div>
      <div>
        <mat-icon>light_dark</mat-icon>
        <label for="theme-toggle">
          Light / Dark theme
        </label>
      </div>
      <div>
        <mat-slide-toggle id="theme-toggle" [checked]="isLight()" (change)="toggleTheme()"></mat-slide-toggle>
      </div>
    </div>

  </mat-card-content>
</mat-card>
