@let vehicle = selectedVehicle();
@if (vehicle) {
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon
          class="card-header-icon"
          [svgIcon]="'vehicle-types:' + vehicle.vehicleType"
          i18n-aria-label
          aria-label="Vehicle type"></mat-icon>
      </div>
      <mat-card-title i18n>OPERATOR: {{ vehicle.operator }}</mat-card-title>
      <mat-card-subtitle i18n>VEHICLE TYPE: <strong>{{ vehicle.vehicleType }}</strong></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <hr>
      <h4 i18n>CHARGE: <span>{{ vehicle.percentageCharge }}%</span></h4>
      <hr>
      <h4 i18n>AUTONOMY: <span>{{ vehicle.estimatedDistance }}km</span></h4>
      <hr>
    </mat-card-content>
    <mat-card-actions align="end">
      <a matButton="outlined" (click)="openApp(vehicle)" i18n>
        <mat-icon [svgIcon]="'operators:' + vehicle.operator"></mat-icon>
        UNLOCK</a>
    </mat-card-actions>
  </mat-card>
}
