<mat-card>
  <mat-card-header class="stop-card-header">
    <div mat-card-avatar>
      <mat-icon
        i18n-aria-label
        aria-label="Bus stop"
        class="card-header-icon"
        [svgIcon]="'vehicle-types:bus'"
        (click)="reloadData()"
        (keydown)="reloadData()">
      </mat-icon>
    </div>
    <div class="header-text">
      <mat-card-title>{{ stopName() }}</mat-card-title>
      <mat-card-subtitle i18n>
        STOP CODE: <strong>{{ stopCode() }}</strong>
      </mat-card-subtitle>
    </div>
    <button
      class="preferred-btn"
      mat-icon-button
      i18n-aria-label
      aria-label="Toggle preferred"
      [class]="(isPreferred() ? ' preferred-stop' : '')"
      (click)="togglePreferred(stopCode())"
      (keydown)="togglePreferred(stopCode())">
      <mat-icon>star</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    @if (busWaitTimes() && busWaitTimes()!.length > 0) {
      @for (time of busWaitTimes(); track time) {
        <hr>
        <h4>
          {{ time.lineCode }} > {{ time.direction }}
          @if (time.arriving || time.time) {
            @if (time.arriving) {
              <span i18n>Now</span>
            } @else {
              <span i18n>{{ time.time }} min</span>
            }
          }
        </h4>
      }
    } @else {
      <p i18n>No data available</p>
    }
  </mat-card-content>
</mat-card>
