<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon
        i18n-aria-label
        aria-label="Bus stop"
        class="card-header-icon"
        [svgIcon]="'vehicle-types:bus'"
        (click)="reloadData()"
        (keydown)="reloadData()">
      </mat-icon>
    </div>
    <mat-card-title>{{ stopName() }}</mat-card-title>
    <mat-card-subtitle i18n>
      STOP CODE: <strong>{{ stopCode() }}</strong>
    </mat-card-subtitle>
    <span class="spacer"></span>
    <button mat-icon-button
            i18n-aria-label
            aria-label="Toggle preferred"
            [class]="(isPreferred() ? ' preferred-stop' : '')"
            (click)="togglePreferred(stopCode())"
            (keydown)="togglePreferred(stopCode())">
      <mat-icon>star</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    @if (busWaitTimes() && busWaitTimes()!.length > 0) {
      <mat-list>
        @for (time of busWaitTimes(); track time) {
          <mat-list-item>
            <h3 class="line-code" matListItemIcon>{{ time.lineCode }}</h3>
            <div matListItemTitle>{{ time.direction }}</div>
            @if (time.distance) {
              <div matListItemLine i18n>{{ time.distance }} stops far</div>
            } @else {
              <div matListItemLine>Terminus</div>
            }
            @if (time.arriving || time.time) {
              <div matListItemMeta>
                @if (time.arriving) {
                  <h3 i18n>Now</h3>
                } @else {
                  <h3 i18n>{{ time.time }} min</h3>
                }
              </div>
            }
          </mat-list-item>
        }
      </mat-list>
    } @else {
      <p i18n>No data available</p>
    }
  </mat-card-content>
</mat-card>
