<mat-card>
  <mat-card-header class="stop-card-header">
    <div mat-card-avatar>
      <mat-icon
        class="card-header-icon"
        [svgIcon]="'vehicle-types:bus'"
        role="button"
        tabindex="0"
        i18n-aria-label
        aria-label="Reload bus times"
        (click)="reloadData()"
        (keydown.enter)="reloadData()"
        (keydown.space)="reloadData()">
      </mat-icon>
    </div>
    <div class="header-text">
      <mat-card-title>{{ stop()?.description }}</mat-card-title>
      <mat-card-subtitle i18n>
        STOP CODE: <strong>{{ stop()?.stopId }}</strong>
      </mat-card-subtitle>
    </div>
    <button
      class="preferred-btn"
      mat-icon-button
      i18n-aria-label
      aria-label="Toggle preferred"
      [class]="(isPreferred() ? ' preferred-stop' : '')"
      (click)="togglePreferred(stop()!)">
      <mat-icon>star</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    @if (busWaitTimes() && busWaitTimes()!.length > 0) {
      @for (time of busWaitTimes(); track time) {
        <hr>
        <h4>
          {{ time.routeIdentifier }} > {{ time.directionDescription }}
          @if (time.minutes === 0) {
            <span i18n>Now</span>
          } @else {
            <span i18n>{{ time.minutes }} min</span>
          }
          @if (time.corrected) {
            <mat-icon>sensors</mat-icon>
          } @else {
            <mat-icon>access_time</mat-icon>
          }
        </h4>
      }
    } @else {
      <p i18n>No data available</p>
    }
  </mat-card-content>
</mat-card>
