.stop-card-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-text {
  display: flex;
  flex-direction: column;
}

.preferred-btn {
  margin-left: auto;
}

.card-header-icon {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  border-radius: 50%;
  padding: 1em;
}

.preferred-stop {
  background-color: var(--mat-sys-tertiary) !important;
  color: var(--mat-sys-on-tertiary) !important;
}

mat-card-content h4 {
  display: flex;
}

mat-card-content h4 span {
  margin-left: auto;
}

mat-card-content h4 mat-icon {
  margin-left: 0.3em;
}

mat-card-content p {
  text-align: center;
}
