<app-integrated-map/>

<button class="zoomToPosition" matFab="filled" (click)="zoomToPosition()" aria-details="Center map"
        [disabled]="!positionAvailable()">
  <mat-icon>center_focus_strong</mat-icon>
</button>

<button class="reloadData" matFab="filled" (click)="reloadData()" aria-details="Reload Data">
  <mat-icon>sync</mat-icon>
</button>

<div class="slider-wrapper">
  <mat-slider min="0" max="100" step="1">
    <input [value]="minimumCharge()" matSliderThumb (valueChange)="filterMinimumCharge($event)">
  </mat-slider>
</div>
<h3>{{ minimumCharge() }} %</h3>

<mat-button-toggle-group
  class="toggleVehicleTypes"
  name="vehicleTypes"
  aria-label="Vehicle Types"
  hideMultipleSelectionIndicator="true"
  multiple
>

  @for (vehicleType of VEHICLE_TYPES; track vehicleType) {
    <mat-button-toggle [checked]="vehicleTypesVisible()[vehicleType]"
                       [value]="vehicleType"
                       (click)="toggleVehicleType(vehicleType)"
                       (keydown)="toggleVehicleType(vehicleType)" checked>
      <mat-icon [svgIcon]="'vehicle-types:' + vehicleType"></mat-icon>
    </mat-button-toggle>
  }
</mat-button-toggle-group>


<mat-button-toggle-group
  class="toggleOperator"
  name="operators"
  aria-label="Operators"
  hideMultipleSelectionIndicator="true"
  multiple
>
  @for (operator of SHARING_OPERATORS; track operator) {
    <mat-button-toggle [value]="operator"
                       (click)="toggleOperator(operator)"
                       (keydown)="toggleOperator(operator)"
                       [checked]="operatorsVisible()[operator]">
      <mat-icon [svgIcon]="'operators:' + operator"></mat-icon>
      @if (operatorsError() && operatorsError()[operator]) {
        <span matBadge="!" matBadgeColor="warn"></span>
      }
    </mat-button-toggle>
  }
</mat-button-toggle-group>
