app-root {
  width: 100vw;
  height: 100vh;
}

.zoomToPosition {
  position: absolute;
  bottom: 1.5em;
  right: 1.5em;
}

.reloadData {
  position: absolute;
  bottom: 1.5em;
  left: 1.5em;
}

.toggleVehicleTypes {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
}

.toggleOperator {
  position: absolute;
  left: 1.5em;
  top: 1.5em;
}

.slider-wrapper {
  position: absolute;
  top: 8em;
  left: -2.5em;
}

.slider-wrapper mat-slider {
  transform: rotate(-90deg);
}

h3 {
  position: absolute;
  top: 11em;
  left: 1em;
}
