app-root {
  width: 100vw;
  height: 100vh;
}

.zoomToPosition {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
}

.reloadData {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}

.toggleVehicleTypes {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.toggleOperator {
  position: absolute;
  left: 0.5em;
  bottom: 0.5em;
}
